:host {
  display: flex;
  position: relative;
  height: 100%;

  & > * {
    position: absolute;
    box-sizing: border-box;

    &:hover {
      outline: 1px black dashed;
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  & > img {
    object-fit: contain;
  }

  .text {
    line-height: 1em;
    white-space: pre-wrap;
  }

  .link {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }
}
