<ng-container *ngFor="let media of data">
  <ng-container *ngIf="media.visible || showInvisible">
    <img
      cdkDragBoundary=".drag-boundary"
      cdkDrag
      (cdkDragStarted)="dragStart($event, media)"
      (cdkDragMoved)="dragMove($event, media)"
      (cdkDragEnded)="dragEnd($event, media)"
      [cdkDragFreeDragPosition]="media.dragPosition"
      *ngIf="media.type === 'image'"
      [src]="media.text"
      alt=""
      [ngStyle]="media.style"
      draggable="false"
    />
    <video
      cdkDragBoundary=".drag-boundary"
      cdkDrag
      (cdkDragEnded)="dragEnd($event, media)"
      [cdkDragFreeDragPosition]="media.dragPosition"
      *ngIf="media.type === 'video'"
      [src]="media.text"
      alt=""
      [ngStyle]="media.style"
      autoplay
      [volume]="media.volume / 100"
    ></video>
    <audio
      cdkDragBoundary=".drag-boundary"
      cdkDrag
      (cdkDragEnded)="dragEnd($event, media)"
      [cdkDragFreeDragPosition]="media.dragPosition"
      *ngIf="media.type === 'audio'"
      [src]="media.text"
      alt=""
      [ngStyle]="media.style"
      autoplay
      [volume]="media.volume / 100"
    ></audio>
    <span
      cdkDragBoundary=".drag-boundary"
      cdkDrag
      (cdkDragEnded)="dragEnd($event, media)"
      [cdkDragFreeDragPosition]="media.dragPosition"
      class="text"
      *ngIf="media.type === 'text'"
      alt=""
      [ngStyle]="media.style"
      >{{ media.text }}</span
    >
    <div
      *ngIf="media.type === 'iframe'"
      class="link"
      cdkDragBoundary=".drag-boundary"
      cdkDrag
      (cdkDragEnded)="dragEnd($event, media)"
      [cdkDragFreeDragPosition]="media.dragPosition"
    >
      <iframe
        [name]="media.id"
        [src]="media.sanitizedURL"
        frameborder="0"
        [ngStyle]="media.style"
        allow="autoplay"
        allowfullscreen
        draggable="false"
      ></iframe>
    </div>
  </ng-container>
</ng-container>
