:host {
  display: flex;
  flex-direction: column;
  gap: 24px;

  mat-toolbar {
    gap: 16px;
  }
}

.preview {
  position: relative;
  margin: 0px 24px;
  flex: 1 1 auto;
  overflow: auto;
  box-sizing: border-box;

  app-view {
    border: 1px solid red;
  }
}
