<mat-toolbar>
  <button mat-stroked-button (click)="openDialog()">Add object</button>
  <button mat-stroked-button (click)="copyURL()">
    Copy Browser Source URL
  </button>
  <button mat-stroked-button (click)="copySessionId()">Copy Session ID</button>
</mat-toolbar>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <ng-container matColumnDef="textLink">
    <th mat-header-cell *matHeaderCellDef>Text/Link</th>
    <td mat-cell *matCellDef="let element">{{ element.text }}</td>
  </ng-container>

  <ng-container matColumnDef="offsetX">
    <th mat-header-cell *matHeaderCellDef>Offset Horizontal</th>
    <td mat-cell *matCellDef="let element">{{ element.offsetX }}</td>
  </ng-container>

  <ng-container matColumnDef="offsetY">
    <th mat-header-cell *matHeaderCellDef>Offset Vertical</th>
    <td mat-cell *matCellDef="let element">{{ element.offsetY }}</td>
  </ng-container>

  <ng-container matColumnDef="width">
    <th mat-header-cell *matHeaderCellDef>Width</th>
    <td mat-cell *matCellDef="let element">{{ element.width }}</td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef>Height</th>
    <td mat-cell *matCellDef="let element">{{ element.height }}</td>
  </ng-container>

  <ng-container matColumnDef="visible">
    <th mat-header-cell *matHeaderCellDef>Visible</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle
        [checked]="element.visible"
        (change)="changeVisibility(element, $event.checked)"
      >
      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openDialog(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteObject(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="preview">
  <app-view
    class="drag-boundary"
    [externalData]="dataSource.data"
    [external]="true"
    [showInvisible]="true"
    [style.width]="width"
    [style.height]="height"
  ></app-view>
</div>
