:host {
  display: flex;
  flex-direction: column;

  mat-toolbar {
    gap: 16px;
  }

  h1,
  p {
    max-width: 75ch;
  }

  .max-width-wrapper {
    margin: 0 auto;
    padding: 16px;
    align-self: center;
  }
}
