<mat-toolbar>
  <button mat-stroked-button (click)="createSession()">Create Session</button>
  <button mat-stroked-button (click)="openSession()">Open Session</button>
</mat-toolbar>

<div class="max-width-wrapper">
  <h1>Welcome to media manager</h1>
  <p class="mat-body-1">
    Start by creating a session
    <button mat-stroked-button (click)="createSession()">Create Session</button>
    or if you already have an session id open your existing session
    <button mat-stroked-button (click)="openSession()">Open Session</button>
  </p>
  <p>
    Make sure to only use <b>direct links</b>(to mp4,mp3,png) for the image,
    audio or video type. For YouTube<span class="mat-caption"
      >(add ?autoplay=1 at the end of the link for autoplay)</span
    >
    or other non direct links please use the iframe type.
  </p>
  <p>You can also just drag and drop the objects now</p>
</div>
