form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  mat-form-field {
    flex: 1 1 auto;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    gap: 1.34375em;

    mat-form-field {
      flex: 1 1 auto;
    }
  }
}
