<h1 mat-dialog-title>Enter width and height for session</h1>
<form mat-dialog-content [formGroup]="form">
  <div class="flex-row">
    <mat-form-field appearance="fill">
      <mat-label>Width</mat-label>
      <input matInput formControlName="width" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput formControlName="height" />
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" />
    <mat-hint>Optional</mat-hint>
  </mat-form-field>
</form>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="form.value"
    [disabled]="form.disabled || form.invalid"
  >
    Create session
  </button>
</div>
