form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .flex-row {
    display: flex;
    flex-direction: row;
    gap: 1.34375em;

    mat-form-field {
      flex: 1 1 auto;
    }
  }
  .slider-wrapper {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
  }
}
