<h1 mat-dialog-title>Add text or link</h1>
<form mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="form.value.type !== 'text'; else text">
    <mat-form-field appearance="fill">
      <mat-label>Link</mat-label>
      <input matInput formControlName="text" />
      <mat-hint>Enter a valid url like https://youtu.be/1Bw2dTY3SsQ</mat-hint>
    </mat-form-field>
  </ng-container>

  <div
    *ngIf="form.value.type === 'video' || form.value.type === 'audio'"
    class="slider-wrapper"
  >
    <span>
      <mat-icon>volume_up</mat-icon>
      Volume
    </span>
    <mat-slider
      formControlName="volume"
      [min]="0"
      [max]="100"
      [step]="1"
      [thumbLabel]="true"
    ></mat-slider>
  </div>

  <ng-template #text>
    <mat-form-field appearance="fill">
      <mat-label>Text</mat-label>
      <textarea matInput formControlName="text" cdkTextareaAutosize></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Font</mat-label>
      <input matInput formControlName="font" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Font size</mat-label>
      <input matInput formControlName="fontSize" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Font color</mat-label>
      <input matInput formControlName="fontColor" type="color" />
    </mat-form-field>
  </ng-template>

  <div class="slider-wrapper">
    <span>
      <mat-icon>opacity</mat-icon>
      Transparency
    </span>
    <mat-slider
      formControlName="transparency"
      [min]="0"
      [max]="100"
      [step]="1"
      [thumbLabel]="true"
    ></mat-slider>
  </div>

  <div class="flex-row">
    <mat-form-field appearance="fill">
      <mat-label>Offset Horizontal</mat-label>
      <input matInput formControlName="offsetX" />
      <mat-hint>(Eg. 10px, 10%, 3pt)</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Offset Vertical</mat-label>
      <input matInput formControlName="offsetY" />
      <mat-hint>(Eg. 10px, 10%, 3pt)</mat-hint>
    </mat-form-field>
  </div>

  <div class="flex-row">
    <mat-form-field appearance="fill">
      <mat-label>Width</mat-label>
      <input matInput formControlName="width" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput formControlName="height" />
    </mat-form-field>
  </div>

  <mat-slide-toggle formControlName="visible">Visible</mat-slide-toggle>
</form>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="form.value"
    [disabled]="form.disabled || form.invalid"
  >
    Save
  </button>
</div>
