<h1 mat-dialog-title>Enter your sessionId</h1>
<form mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Session Id</mat-label>
    <input matInput formControlName="id" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" />
    <mat-hint>Optional</mat-hint>
  </mat-form-field>
</form>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="form.value"
    [disabled]="form.disabled || form.invalid"
  >
    Open session
  </button>
</div>
