@use "@angular/material" as mat;

@include mat.core();

$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$frontend-warn: mat.define-palette(mat.$red-palette);

$frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

@include mat.all-component-themes($frontend-theme);

html,
body,
app-root {
  height: 100%;
  color: black;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .max-width-wrapper {
    max-width: 1440px;
  }
}
